.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: purple;
    color: white;
}

.header nav ul{
    list-style: none;
    display: flex;
    align-items: center;
}

.header nav ul li{
    margin-left: 25px;
}

.header nav ul li a{
    text-decoration: none;
    font-size: 18px;
    color: white;
}

.out-btn{
    background-color: transparent;
    font-size: 18px;
    color: white;
    border: none;
    cursor: pointer;
}

.add-btn{
    background-color: white;
    color: purple;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    border: none;
    font-size: 30px;
    transition: 0.5s;
    cursor: pointer;
}

.add-btn:hover{
    transform: scale(1.1);
}

.content{
    text-align: center;
    margin-top: 40px;
}

.content h1{
    font-size: 50px;
}

.content p{
    margin-top: 10px;
    font-size: 18px;
}

.welcomeMessage{
    margin: auto;
    margin-top: 10px;
    padding: 20px;
    background-color: #ccc;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
    width: 45%;
}

.table{
    margin: auto;
    width: 70%;
    margin-top: 40px;
    font-size: 18px;
    border-collapse:collapse ;
}

.table tr td{
    padding: 15px 10px 5px 10px;
    border-bottom: 1px solid #ccc;
    
}

.table button{
    background-color: transparent;
    border: none;
    font-size: 18px;
    cursor: pointer;
}

.edit-btn{
    color: blue;
}

.del-btn{
    color: red;
}

.modal{
    width: 100%;
    height: 100vh;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.452);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-form{
    background-color: white;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.404);
    padding: 30px;
    border-radius: 10px;
    border: 2px solid purple;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
}

.modal-form input{
    font-size: 17px;
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.418);
    outline: 0;
    margin-top: 30px;
    width: 100%;
}

.modal-form h2{
    font-size: 25px;
    color: purple;
    margin-bottom: 30px;
}

.modal-form button{
    margin-top: 20px;
    padding: 10px 25px;
    background-color: purple;
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.5s;
}

.modal-form button:hover{
    transform: scale(1.1);
}

.none{
    display: none;
}